*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

ul, ol, li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

main{
  padding: 30px 0;
}

/* PALETTE COLORI */
:root {
  --blue:#0084FD;
  --light-blue:#B5DDFF;
  --purple:#9792E4;
  --yellow:#FDC15F;
  --dark-grey:#333333;
  --light:#FFFFFF;
}

/* HEADER */
.page-header{
  background-color: var(--blue);
}

.menu{
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.align-item-center{
  align-items: center;
}

.icon-menu{
  display: none;
}

.block-header-item{
  padding: 20px 20px;
}

/* HERO */
.hero{
  margin-bottom: 100px;
}
.hero-flex-div{
  display: flex;
  background-color: var(--light-blue);
  border-radius: 15px;
  height: 100%;
}

.col-img-phone{
  display: flex;
  align-items: flex-end;
  height: 100%;
  
}

.hero-div-title{
  padding: 20px 15px;
}

.col8 > h3{
  color: var(--blue);
  font-size: 20px;
}

.col8 > p{
  line-height: 1.8em;
  color: rgb(91, 110, 127);
}

.hero-div-col4{
  text-align: center;
}

.hero-div-col4 > h3{
  color: var(--blue);
  font-size: 25px;
  padding: 10px 0px;
}

.hero-div-col4 > i {
  color: var(--blue);
  font-size: 75px;
  padding: 20px 0px;
}

.hero-div-col4 > p {
  padding: 5px 10px;
  line-height: 1.8em;
  color: rgb(91, 110, 127);
}

/* SECTION BG-PURPLE*/
.bg-purple{
  background-color: var(--purple);
}

.flex-col6-bgpurple{
  display: flex;
  flex-direction: column;
}

.cont-image{
  padding: 80px 20px;
}

.cont-paragraph{
  color: var(--light);
}

.cont-paragraph > p{
  line-height: 1.5em;
  padding: 30px 0;
}

.cont-paragraph > h3{
  color: var(--light);
  font-size: 25px;
  line-height: 2em;
  padding: 10px 0px;
}

.cont-second-col6{
  padding: 50px 20px;
}

.block-div-white{
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  padding: 20px 20px;
}

.block-paragraph{
  text-align: center;
}

.block-paragraph > h3{
  color: black;
  font-size: 25px;
  line-height: 2em;
  padding: 10px 0px;
}

.block-paragraph > p {
  color: grey;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.cont-icon-arrow{
  padding: 20px 0px;
}

.cont-icon-arrow > i{
  color: black;
  background-color: var(--purple);
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
}

/*SECTION TESTIMONIALS*/
.testimonials{
  margin: 50px 0px;
}

.cont-title-paragraph__item{
  text-align: center;
  padding: 10px;
}

.cont-title-paragraph > h2{
  font-size: 40px;
  color: var(--purple);
}
.cont-title-paragraph > p{
  line-height: 1.5em;
}

.col12-bg-purple{
  background-color: var(--purple);
  border-radius: 20px;
  display: flex;
  margin: 20px 0px;
}

.cont-testimonials-image{
  margin: 20px;
}

.cont-testimonials-image > img{ 
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.col8-testimonials{
  height: 100%;
}

.justify-center{
  justify-content: center;
  align-items: center;
}

.col-8 > div > p {
  color: white;
}

.col-8 > div > p > i{
  font-size: 20px;
}

.col-8 > div > h3{
  color: white;
  padding: 20px 0px;
}

/*SECTION BENEFIT*/

.benefit{
  background-color: var(--purple);
  padding: 40px 20px;
}

.cont-benefit-title > h2{
  text-align: center;
  color: var(--light);
  font-size: 40px;
  padding: 40px 0;
}

.bg-white{
  background-color: var(--light);
  border-radius: 20px;
}

.bg-white > * {
  padding: 15px 10px;
  margin: 10px 10px;
}

.bg-white > h2 {
  font-size: 80px;
  color: var(--purple);
}

.bg-white > h4{
  font-size: 20px;
  color: var(--purple);
}

.bg-white > p{
  color: grey;
  line-height: 1.5em;
}

/*SECTION ABOUT US*/
.about-us{
  margin: 50px 0px;
}

.cont-about-us > *{
  padding: 20px 0px;
  margin: 0 50px;
}

.cont-about-us > h2 {
  font-size: 80px;
  color: var(--purple);
}

.cont-about-us > p{
  color: black;
  line-height: 2em;
}

.cont-about-us-image{
  position: relative;
}

.about-us__image > img{ 
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;

}
.quot-icon{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 100px;
  color: var(--purple);
}

.cont-about-us-image > h3{
  font-size: 35px;
  color: var(--purple);
  padding: 20px 0px;
}

/*SECTION GET STARTED*/

.get-started{
  background-color: var(--purple);
}

.cont-get-started > *{
  text-align: center;
  padding: 20px 0;
}

.cont-get-started > .word-opacity{
  margin: 0 auto;
  color: white;
  opacity: 0.5;
}

.cont-get-started > h3{
  font-size: 50px;
  color: white;
}

.cont-get-started > h2{
  font-size: 100px;
  color: var(--yellow);
}

.cont-get-started > p{
  color: white;
}


.cont-btn{
  margin: 0 auto;
}

.icon-circle{
  font-size: 10px;
}



/*UTILITY CLASSES*/
.row > [class^='col']{
  padding: 10px 10px;
}
.justify-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
  align-items: center;
}

.row-reverse{
  flex-direction: column;
}
/* COMPONENT CLASSES*/
.btn{
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 0 18px;
}

.btn-hero{
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 0 40px;
}

.btn-benefit{
  background-color: var(--purple);
  color: white;
  text-align: center;
  padding: 0 35px;
  white-space: nowrap;
}

.btn-getstarted{
  background-color: var(--light);
  color: var(--purple);
  text-align: center;
  padding: 10px 60px;
  white-space: nowrap;
  border-radius: 999px;
}
/*LAYOUT*/
.container {
  max-width: 1164px;
  margin: 0 auto;
}

.container-medium {
  max-width: 1050px;
  margin: 0 auto;
}

.container-small {
  max-width: 880px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}

.col-6-section{
  flex-basis: calc((100% / 12) * 6);
  height: 50%;
}


/* RESPONSIVE */



@media (max-width: 780px){
  /*SECTION HEADER*/
  .menu{
    display: none;
  }
  .icon-menu{
    display: contents;
  }

  /*SECTION HERO*/
  .block-header-item{
    padding: 20px 10px;
  }

  .col-8 > .hero-flex-div{
    flex-wrap: wrap;
    height: 100%;
  }

  .hero-flex-div > .col-8{
    flex-basis: 100%;
  }

  .hero-flex-div > .col-4{
    flex-basis: 100%;
    height:auto;
  }

  .col-img-phone > img{
    width: 60%;
  }

  .col-4 > .clean-code{
    height: 100%;
  }

  /*SECTION BG PURPLE*/
  .flex-col6-bgpurple{
    flex-basis: 100%;
  }

  .cont-second-col6{
    flex-basis: 100%;
  }

  .cont-paragraph{
    padding: 0 20px;
  }

  .cont-paragraph > h3{
    font-size: 50px;
  }

  /*SECTION BENEFIT*/
  .benefit__col4{
    flex-basis: 50%;
  }

  /*SECTION ABOUT US*/
  .quot-icon{
    font-size: 60px;
  }

  .btn-benefit{
    padding: 0 10px;
  }
}

@media (max-width: 610px){
  .cont-about-us{
    flex-basis: 100%;
  }

  .cont-col4-about-us{
    flex-basis: 100%;
  }
  .about-us__image{
    width: 210px;
    height: 200px;
  }
  .quot-icon{
    bottom: 0px;
    left: 160px;
  }

  .cont-about-us-image{
    padding: 0 55px;
  }
}

/*SECTION HERO*/
@media (max-width: 540px){
  .col4-under{
    flex-basis: 100%;
  }
}

@media (max-width: 480px){
  .col-8{
    flex-basis: 100%;
  }
  .col-img-phone > img{
    width: 100%;
  }
  .col-4{
    flex-basis: 100%;
  }

  /*SECTION BG PURPLE*/
  .cont-paragraph > h3 {
    font-size: 35px;
  }

  /*SECTION TESTIMONIALS*/
  .col12-bg-purple{
    flex-wrap: wrap;
  }
  
  .cont-testimonials-name > p, .cont-testimonials-name > h3{
    text-align: center;
    padding: 0 10px;
  }

  /*SECTION GET STARTED*/
  .cont-get-started{
    padding: 0 45px;
  }

  .cont-get-started > h3{
    font-size: 30px;
  }
  .cont-get-started > h2{
    font-size: 70px;
  }
}

/* DEBUG */
.debug .container,
.debug .container-medium,
.debug .container-small  {
  border: 1px solid orange;
  padding: 10px;
}

.debug .row {
  border: 1px solid black;
  padding: 10px;
}
.debug [class^="col"] {
  border: 1px solid red;
  padding: 10px;
}

.debug .hero-flex-div{
  border: 1px solid purple;
  padding: 10px;
}