*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

ul, ol, li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

main{
  padding: 30px 0;
}

/* PALETTE COLORI */
:root {
  --blue:#0084FD;
  --light-blue:#B5DDFF;
  --purple:#9792E4;
  --yellow:#FDC15F;
  --dark-grey:#333333;
  --light:#FFFFFF;
}

/* HEADER */
.page-header{
  background-color: var(--blue);
}

.menu{
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.align-item-center{
  align-items: center;
}

.icon-menu{
  display: none;
}

.block-header-item{
  padding: 20px 0;
}

/* HERO */
.hero-flex-div{
  display: flex;
  background-color: var(--light-blue);
  border-radius: 15px;
}

.col-img-phone{
  display: flex;
  align-items: flex-end;
}

.hero-div-title{
  padding: 20px 15px;
}

.col8 > h3{
  color: var(--blue);
  font-size: 20px;
}

.col8 > p{
  line-height: 1.8em;
  color: rgb(91, 110, 127);
}

.hero-div-col4{
  text-align: center;
}

.hero-div-col4 > h3{
  color: var(--blue);
  font-size: 25px;
  padding: 10px 0px;
}

.hero-div-col4 > i {
  color: var(--blue);
  font-size: 75px;
  padding: 20px 0px;
}

.hero-div-col4 > p {
  padding: 5px 10px;
  line-height: 1.8em;
  color: rgb(91, 110, 127);
}


/*UTILITY CLASSES*/
.hero-flex-div{
  min-height: 331px;
}
.justify-between{
  justify-content: space-between;
  align-items: center;
}

.pad-between-col{
  padding: 10px 10px;
}

.row-reverse{
  flex-direction: column;
}
/* COMPONENT CLASSES*/
.btn{
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 0 18px;
}

.btn-hero{
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 0 40px;
}
/*LAYOUT*/
.container {
  max-width: 1164px;
  margin: 0 auto;
}

.container-medium {
  max-width: 1050px;
  margin: 0 auto;
}

.container-small {
  max-width: 880px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}


/* RESPONSIVE */

@media (max-width: 780px){
  .menu{
    display: none;
  }
  .icon-menu{
    display: contents;
  }

  .block-header-item{
    padding: 20px 10px;
  }
}

/* DEBUG */
.debug .container,
.debug .container-medium,
.debug .container-small  {
  border: 1px solid orange;
  padding: 10px;
}

.debug .row {
  border: 1px solid black;
  padding: 10px;
}
.debug [class^="col"] {
  border: 1px solid red;
  padding: 10px;
}

.debug .hero-flex-div{
  border: 1px solid purple;
  padding: 10px;
}